<div class="divider"></div>

<style>
    .divider {
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, #fdf76b, #dd4eaf, #df535a);
  background-size: 300% 100%;
  animation: moveGradient 5s ease infinite;
  border-radius: 3px;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
</style>