<section class="container-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d822.2656350109568!2d-58.828781130341426!3d-34.47593769831252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bc9958121a208b%3A0x8e39417f938d8687!2sDean%20Funes%20%26%20Chubut%2C%20B1635%20Pres.%20Derqui%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1724514998190!5m2!1ses-419!2sar" class="map" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>

<style>
    .container-map{
        width: 90%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        border-radius: 5px;
    }

    .map{
        width: 100%;
        height: 250px;
        border-radius: 10px;
    }
</style>